* {
  margin: 0;
}

/* Headings */
.head1 {
  position: absolute;
  left: 1.5em;
  top: 3.5em;
}
.head2 {
  position: absolute;
  left: 1.65em;
  top: 4em;
}
.head3 {
  position: absolute;
  left: 1.8em;
  top: 4.5em;
}
.head4 {
  position: absolute;
  left: 1.95em;
  top: 5em;
}

#nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5em;
}

#nav li,
a {
  display: inline-block;
  font-family: "Share Tech Mono", monospace;
  list-style-type: none;
  text-decoration: underline;
  font-size: 1.2em;
  margin-right: 1em;
}

/* Top */

#top {
  background-image: url("images/bg-pattern-top.svg");
  background-position: -34% 52%, 190% -0%;
  background-repeat: no-repeat;
  background-color: #f1ddbf;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#top h1 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  line-height: 0.5;
  font-size: 4em;
}

#top p {
  font-family: "Share Tech Mono", monospace;
  font-size: 2em;
  margin-top: 2em;
  position: absolute;
  top: 9.5em;
  left: 8.1em;
  text-decoration: underline;
}
